.add-request-form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #20232a;
    color: #fff;
    box-shadow: 0 0px 10px 5px rgba(255, 0, 242, 0.2);
}